body {
  margin: 0;
  padding: 0;
}

.light-animation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #fff9eb;
}

.cake-img {
  animation: float 2s ease-in-out infinite;
}

.light-progress-text {
  margin-top: 20px;
  font-size: 16px;
  color: #de750a;
  display: flex;
  align-items: center;
}

.light-loading-dots {
  display: flex;
  margin-left: 10px;
}

.light-dot {
  width: 8px;
  height: 8px;
  background-color: #de750a;
  border-radius: 50%;
  margin: 0 3px;
  animation: dot-bounce 1.4s infinite ease-in-out both;
}

.light-dot:nth-child(2) {
  animation-delay: -0.32s;
}

.light-dot:nth-child(3) {
  animation-delay: -0.16s;
}
.light-progress-bar {
  width: 200px;
  height: 20px;
  background-color: #805b37;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.light-progress-bar::after {
  content: '';
  display: block;
  width: 0%;
  height: 100%;
  background-color: #fbd324;
  animation: progress 3s linear infinite;
}

.dark-animation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #5f3c38;
}

.coffee-img {
  animation: float 2s ease-in-out infinite;
}

.dark-progress-text {
  margin-top: 20px;
  font-size: 16px;
  color: #edd2bf;
  display: flex;
  align-items: center;
}

.dark-loading-dots {
  display: flex;
  margin-left: 10px;
}

.dark-dot {
  width: 8px;
  height: 8px;
  background-color: #edd2bf;
  border-radius: 50%;
  margin: 0 3px;
  animation: dot-bounce 1.4s infinite ease-in-out both;
}

.dark-dot:nth-child(2) {
  animation-delay: -0.32s;
}

.dark-dot:nth-child(3) {
  animation-delay: -0.16s;
}
.dark-progress-bar {
  width: 200px;
  height: 20px;
  background-color: #351613;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.dark-progress-bar::after {
  content: '';
  display: block;
  width: 0%;
  height: 100%;
  background-color: #edd2bf;
  animation: progress 3s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dot-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
